@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kalam", cursive;
}

:root {
  --primary-bg: #171717;
  --secondary-bg: #212121;
  --txt-color: #d3d3d3;
}

body {
  background: var(--primary-bg);
}

header {
  background: var(--primary-bg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
  transition: all 0.3s ease-in-out;
  z-index: 5;
}

header .container {
  position: relative;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .logo {
  font-size: clamp(1.5rem, 1.1479rem + 1.5023vw, 2.5rem);
  color: var(--txt-color);
  text-transform: uppercase;
  font-weight: 700;
}

header nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: var(--txt-color);
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

header nav ul li a:hover {
  font-weight: 700;
  letter-spacing: 2px;
}

header .side-nav,
.hamburger-lines {
  display: none;
}

header .checkbox {
  display: none;
}

@media screen and (max-width: 767px) {
  header nav .top-nav {
    display: none;
  }

  header nav .side-nav {
    display: block;
    background: var(--secondary-bg);
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 2;
    transform: translate(100%);
  }

  header nav .side-nav li {
    display: block;
    line-height: 40px;
  }

  header nav .checkbox {
    display: block;
    position: absolute;
    height: 32px;
    width: 32px;
    right: 10px;
    cursor: pointer;
    z-index: 4;
    opacity: 0;
  }

  .hamburger-lines {
    width: 32px;
    height: 26px;
    position: absolute;
    right: 10px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hamburger-lines .line {
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: var(--txt-color);
  }

  .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .hamburger-lines .line1 {
    transition: transform 0.2s ease-in-out;
  }

  .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  header nav input[type="checkbox"]:checked ~ .side-nav {
    transform: translateX(0);
  }

  header nav input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  header nav input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  header nav input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: 575px) {
  header nav .side-nav {
    width: 200px;
  }
}

section {
  padding: 160px 0 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* HOME CSS */
.home .row .left {
  margin-top: 10%;
}

.home .row .left h2 {
  color: var(--txt-color);
}

.home .row .left h1 {
  color: var(--txt-color);
  font-size: clamp(3.125rem, 2.9049rem + 0.939vw, 3.75rem);
  font-weight: 700;
  text-transform: uppercase;
}

.home .row .left p {
  color: var(--txt-color);
}

.home .d-flex {
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.home .d-flex .btn-connect a {
  text-decoration: none;
  color: var(--txt-color);
  background: #008b8b;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

.home .d-flex .social .icon {
  color: var(--txt-color);
  font-size: 32px;
  transition: all 0.3s ease-in-out;
}

.home .d-flex .social .icon:hover {
  color: #008b8b;
}

.home .d-flex .social .icon:nth-child(1) {
  margin: 0 5px;
}

@media screen and (max-width: 767px) {
  .home .d-flex .btn-connect a {
    font-size: 12px;
  }

  .home .d-flex .social .icon:nth-child(1) {
    margin: 0 5px;
  }

  .home .d-flex .social .icon {
    font-size: 24px;
  }

  .home .d-flex {
    align-items: center;
  }
}

.home .row .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .btn-mint {
  text-align: center;
  margin: 5% 0;
  padding: 20px 0;
  background: #008b8b;
  border-radius: 5px;
}

.home .btn-mint a {
  color: var(--txt-color);
  font-size: 40px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.home .btn-mint a:hover {
  letter-spacing: 2px;
}

/* ABOUT CSS */
.about {
  background: var(--secondary-bg);
}

.about .row .left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .row .right h2 {
  color: var(--txt-color);
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
}

.about .row .right p {
  color: var(--txt-color);
}

.about .row .col-md-3 {
  margin-top: 5%;
}

.about .row .col-md-3 img {
  border-radius: 5px;
}

/* ROADMAP CSS */
.roadmap .row .title {
  text-align: center;
  margin-bottom: 5%;
}

.roadmap .row .title h2 {
  color: var(--txt-color);
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.roadmap .row {
  flex-direction: column;
  position: relative;
}

.roadmap .row::after {
  position: absolute;
  top: 0;
  left: 50%;
  content: "";
  width: 5px;
  height: 100%;
  z-index: -1;
  margin-left: -3px;
  background: rgba(0, 139, 139, 0.5);
  animation: moveline 7s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.roadmap .row .col-md-6 {
  position: relative;
  padding: 20px 50px;
  animation: movedown 6s linear forwards;
  opacity: 0;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.roadmap .row .col-md-6:nth-child(2) {
  animation-delay: 0s;
}

.roadmap .row .col-md-6:nth-child(3) {
  animation-delay: 2s;
}

.roadmap .row .col-md-6:nth-child(4) {
  animation-delay: 3s;
}

.roadmap .row .col-md-6:nth-child(5) {
  animation-delay: 4s;
}

.roadmap .row .col-md-6:nth-child(6) {
  animation-delay: 5s;
}

.roadmap .row .col-md-6:nth-child(7) {
  animation-delay: 6s;
}

.roadmap .row .left .percent {
  position: absolute;
  top: 32px;
  right: 0px;
  z-index: 2;
  color: var(--txt-color);
  font-weight: 700;
}

.roadmap .row .right .percent {
  position: absolute;
  top: 32px;
  left: 0;
  z-index: 2;
  color: var(--txt-color);
}

.roadmap .row .content {
  background: rgba(0, 139, 139, 0.5);
  padding: 20px 50px;
  position: relative;
  color: var(--txt-color);
}

.roadmap .row .content .date {
  color: gray;
}

.roadmap .row .content h2 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
}

.roadmap .row .col-md-6.left {
  left: 0;
}

.roadmap .row .col-md-6.right {
  left: 50%;
}

.roadmap .row .col-md-6 .left-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid rgba(0, 139, 139, 0.5);
  right: -15px;
}

.roadmap .row .col-md-6 .right-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid rgba(0, 139, 139, 0.5);
  left: -15px;
}

@media screen and (max-width: 767px) {
  .roadmap .row::after {
    left: 31px;
  }

  .roadmap .row .col-md-6 {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .roadmap .row .col-md-6.right {
    left: 0;
  }

  .roadmap .row .left .percent,
  .roadmap .row .right .percent {
    left: 10px;
  }

  .roadmap .row .col-md-6 .left-arrow,
  .roadmap .row .col-md-6 .right-arrow {
    border-right: 15px solid rgba(0, 139, 139, 0.5);
    border-left: 0;
    left: -15px;
  }
}

/* TEAM CSS */
.team {
  background: var(--secondary-bg);
}

.team .row .left .title h2 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--txt-color);
}

.team .row .left {
  color: var(--txt-color);
}

.team .row .right .row:nth-child(2) {
  padding: 10px 0;
}
